.btn {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.5);
    outline: none;
    margin: 0 10px;
}

.btn:active {
    box-shadow: inset 4px 4px 5px 0 rgba(50, 50, 50, 0.5);
}

.primary {
    background: #75bed8;
}

.primary:hover {
    background: #58ccfb;
}

.danger {
    background: #f35555;
}

.danger:hover {
    background: #fc5f5f;
}
